/* -_-_-_-_-_-_-_- Elements -_-_-_-_-_-_-_- */
body {
font-family: 'Roboto', sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
background: #fff;
}

ul {
list-style-type: none;
}

address {
    font-style: normal
}

a {
text-decoration: none;
color: inherit;
}


/* -_-_-_-_-_-_-_- Class -_-_-_-_-_-_-_- */

.logo {
font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
}

.studio-span-header {
color: #2e2f42;
}

.studio-span-footer {
text-transform: uppercase;
color: #f4f4fd;
}

.nav-links {
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42;
}

.nav-links:focus,
.nav-links:hover {
color: #404bbf;
}

.contacts-links {
font-family: "Roboto", sans-serif;
color: #434455;
}

.contacts-links:hover,
.contacts-links:focus {
color: #404bbf
}

.section-effective-solutions{
background: #2e2f42;

}

.page-h {
font-weight: 700;
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;
text-align: center;
color: #fff;
}

.button-h {
color: #fff;
background: #4d5ae5;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;
cursor: pointer;
}

.button-h:hover,
.button-h:focus{
background: #404bbf;
}

.portfolio-h {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
color: #2e2f42;
letter-spacing: 0.02em;
}

.portfolio-desc {
    letter-spacing: 0.02em
}

.portfolio-sub {
color: #434455;
}

.section-our-team{
background-color: #F4F4FD;
}

.our-team-h{
font-weight: 700;
font-size: 36px;
line-height: 1.11;
text-transform: capitalize;
text-align: center;
letter-spacing: 0.02em;
color: #2e2f42;
}

.our-team-names {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
text-align: center;
letter-spacing: 0.02em;
color: #2e2f42;
}

.our-team-list{
background-color: #FFFFFF
}

.our-team-desc {
text-align: center;
color: #434455;
}

.our-portfolio-h {
font-weight: 700;
font-size: 36px;
line-height: 1.11;
text-transform: capitalize;
text-align: center;
letter-spacing: 0.02em;
color: #2e2f42;
}

.our-portfolio-title{
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
}

.our-portfolio-sub{
color: #434455;
}

.footer-text {
color: #f4f4fd;
}

.footer-nav {
    background: #2e2f42;
    }